.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

.headertitle {
    display: block;
    font-size: 102px;;
    width: 730px;
    padding-left: 64px;
    line-height: 96px;
    font-family: inter;
    font-weight: SemiBold;
    z-index: 4;
}

.headersubtitle {
    display: block;
    position: absolute;
    left: 64px;
    bottom: 30px;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-family: 'inter';
    font-weight: Regular;
    z-index: 3;
}

.headersquare-pic {
    background-color: #2f80ed;
    width: 568px;
    height: 568px;
    position: absolute;
    z-index: 1;
    top: 64px;
    right: 0;
}

.headermainillustration {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 765px;
    height: 608px;
    z-index: 2;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.header__link:hover {
    opacity: .8;
}
